PORT=5000
MONGO_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/dayflow
JWT_SECRET=replace-with-a-long-random-string
JWT_EXPIRES_IN=7d

CLOUDINARY_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
